doctype html
html(lang="en")
  head
    title Home Page
  body
    header
        h1 Welcome!
            
    h3 Sign-Up Form
    form(action='/signUp', method='post')
      label Email: 
        input(type='text', name='email')
      label Password: 
        input(type='text', name='password')
      button(type='submit') Sign-Up

    h3 Log-In Form
    form(action='/logIn', method='post')
      label Email: 
        input(type='text', name='email')
      label Password: 
        input(type='text', name='password')
      button(type='submit') Log-In